{% extends "base_tables.html" %}
{% set is_view = dataset.is_view(table) %}
{% set view_ops = dataset.view_operations(table) %}

{% block content_title %}
  <span title="{{ table }}">{{ table|truncate(40, True, leeway=2) }}</span>
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link{% block structure_tab_class %}{% endblock %}" href="{{ url_for('dataset_dispatcher', dataset_name=dataset_name, table=table) }}">Structure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% block content_tab_class %}{% endblock %}" href="{{ url_for('table_content', dataset_name=dataset_name, table=table) }}">Content</a>
    </li>
    {% block inner_nav %}{% endblock %}
  </ul>
  <div style="margin-top: 20px;">
    {% block inner_content %}
    {% endblock %}
  </div>
{% endblock %}
