{% extends "base_table.html" %}

{% block content_title %}
  {{ super() }}
  <small>{{ total_rows }} rows, showing page {{ page }}</small>
{% endblock %}

{% block content_tab_class %} active{% endblock %}

{% block inner_content %}
  {# add filters #}
  <form action="{{ url_for('table_content', dataset_name=dataset_name, table=table) }}" autocomplete="off" method="post">
    {% if allow_bulk %}
      <div class="float-right">
        <button class="btn btn-sm btn-danger bulk-action" disabled name="action" type="submit" value="bulk-delete">Bulk Delete</button>
      </div>
    {% endif %}
    <table class="table table-striped small cell-content">
    <thead>
      <tr>
        {% if allow_bulk %}
          <th style="width:24px;"><input id="toggle-pk-all" type="checkbox" /></th>
        {% endif %}
        {% for column in columns %}
          <th>
            <a href="{{ url_for('table_content', dataset_name=dataset_name, table=table, page=page, ordering=column if ordering != column else '-' + column) }}">{{ column }}</a>
          </th>
        {% endfor %}
        {% if allow_edit %}<th></th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in query %}
        {% if allow_edit %}
          {% set pk = row|encode_pk(table_pk) %}
        {% endif %}
        <tr>
          {% if allow_bulk %}
            <td><input class="toggle-pk" name="pk" type="checkbox" value="{{ pk }}" /></td>
          {% endif %}
          {% for field in field_names %}
            {% set value = row[field] %}
            <td>
              {% if value is none %}
                <code>NULL</code>
              {% else %}
                {{ value|value_filter|safe }}
              {% endif %}
            </td>
          {% endfor %}
          {% if allow_edit %}
            <td>
              <a class="small" href="{{ url_for('table_update', dataset_name=dataset_name, table=table, pk=pk) }}">Edit</a>
              <a class="small" href="{{ url_for('table_delete', dataset_name=dataset_name, table=table, pk=pk) }}">Delete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>
  <nav>
    <form action="{{ url_for('table_content', dataset_name=dataset_name, table=table) }}" method="get">
      <input name="ordering" type="hidden" value="{% if ordering %}{{ ordering }}{% endif %}" />
      <ul class="pagination">
        <li class="{% if not previous_page %}disabled {% endif %}page-item">
          <button class="page-link" name="page" type="submit" value="1">&laquo;</button>
        </li>
        <li class="{% if not previous_page %}disabled {% endif %}page-item">
          <button class="page-link" name="page" type="submit" value="{{ previous_page }}">&lsaquo;</button>
        </li>
        <li class="page-item disabled">
          <span class="page-link">Page {{ page }} / {{ total_pages }}</span>
        </li>
        <li class="{% if not next_page %}disabled {% endif %}page-item">
          <button class="page-link" name="page" type="submit" value="{{ next_page }}">&rsaquo;</button>
        </li>
        <li class="{% if not next_page %}disabled {% endif %}page-item">
          <button class="page-link" name="page" type="submit" value="{{ total_pages }}">&raquo;</button>
        </li>
      </ul>
    </form>
  </nav>
{% endblock %}
