{% extends "base_table.html" %}

{% block structure_tab_class %} active{% endblock %}

{% block inner_content %}
  <h3 id="columns">{% if not dataset.is_readonly and not is_view %}
    <p class="float-right"><a class="btn btn-primary btn-sm" href="{{ url_for('add_column', dataset_name=dataset_name, table=table) }}">+ Add column</a></p>{% endif %}
    Columns</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Column</th>
        <th>Data type</th>
      {% if not is_view %}
        <th>Allow null</th>
        <th>Primary key</th>
      {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for column in columns %}
        <tr>
          <td><code>{{ column.name }}</code></td>
          <td><code>{{ column.data_type }}</code></td>
        {% if not is_view %}
          <td>{% if column.null %}&check;{% endif %}</td>
          <td>{% if column.primary_key %}&check;{% endif %}</td>
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />

  {% if foreign_keys %}
    <h3 id="foreign-keys">Foreign Keys</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Column</th>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        {% for foreign_key in foreign_keys %}
          <tr>
            <td><code>{{ foreign_key.column }}</code></td>
            <td><code>{{ foreign_key.dest_table }}.{{ foreign_key.dest_column }}</code></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
  {% endif %}

  <h3 id="sql">SQL</h3>
  {{ table_sql|format_create_table|highlight }}

<div class="modal fade" id="sql-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
{% endblock %}
